@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
:root {
	--text-color: #fff;
	--color: #37b1e2;
	--bg-color: #1c1c1d;
	--first: #fff;
	--second: #000;
	--mob-color: #363636;
}

body {
	background: var(--bg-color);
}


.about-section-title {
	color: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.about-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* About Starts Here */

.about-container {
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	height: 80vh;
}


.about-container .about-card {
	position: relative;
	max-width: 300px;
	height: 300px;
	background: var(--mob-color);
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.about-container .about-card:hover {
	height: 670px;
}

.about-container .about-card .about-imgBx {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 5px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.about-container .about-card .about-imgBx img {
	max-width: 100%;
	border-radius: 4px;
	
}

.about-container .about-card .about-content {
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: var(--text-color);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.about-container .about-card .about-content p {
	font-size: 14px;
	
}

.about-container .about-card:hover .about-content {
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}

.about-container .about-card:hover .about-content a{
	color: var(--color);
}